@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
	background-color: #f3f3f3;
}

/* Customized scrollbar */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: RGB(192, 192, 192);
}

::-webkit-scrollbar-thumb {
	background-color: RGB(192, 192, 192);
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgb(68, 20, 155);
}

/*
Hide up - down arrow from browser using input type - number
*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type='number'] {
	-moz-appearance: textfield;
}

input:focus~label,
input:not(:placeholder-shown)~label {
	@apply transform;
	@apply scale-75;
	@apply -translate-y-6;
}

input:focus~label {
	@apply text-black;
	@apply left-0;
}

.btn span:first-child {
	transform: translateX(-101%);
	transition: transform 0.3s ease-in;
	color: #fff;
}

.btn:hover span {
	transform: translateX(0);
}

.table_style {
	min-width: 100%;
}

.table_head_row {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.table_head_column {
	padding-top: 0.9rem;
	padding-bottom: 0.9rem;
	text-align: left;
	text-transform: capitalize;
	text-align: center;
}


.table_body>tr {
	background-color: rgb(255, 255, 255);
	border-top-width: 1px;
	border-bottom-width: 0px;
}

.table_body>tr>td {
	text-align: center;
}



.ck-content figure.image {
	display: block;
	max-width: 300px;
	max-height: 300px;
}

.nav-bar {
	background-image: linear-gradient(to right,#6baed6, #fffafa, #6baed6);
	
}

@layer utilities {}

@layer base {
	:root {
		--color-success: #28b15a;
		--color-warning: #ffa726;
		--color-danger: #ff0000;

		--color-primary: #6c2ae2;
		--color-primary-light: #e4d6ff;
		--color-primary-dark: #a288ea;

		--color-secondary: #bc8f27;
		--color-secondary-dark: #688f4e;

		--color-default: #ffffff;
		--color-default-light: #f5f7fb;
		--color-default-dark: #bbbbbb;

		--color-base-light: #000000;
		--color-base-dark: #343434;
	}

	.heading-font {
		@apply font-Outfit text-[26px] leading-[25px] tracking-[.15px] antialiased tablet:text-[30px];
	}

	.sub-heading-font {
		@apply font-Outfit text-lg leading-[25px] tracking-[.15px] antialiased;
	}

	.body-font {
		@apply font-Outfit text-base antialiased laptop:text-sm;
	}

	.secondary-font {
		@apply font-Outfit text-[0.8rem] antialiased;
	}

	.caption-font {
		@apply font-Outfit text-sm antialiased laptop:text-xs;
	}
}